# List Examples

In [40]:
li=["gitam",123,124,1323,1232,3451]
print(li)
print(li[1])
print(li[2:])
print(li[2:4])
print(li[-1])
print(li[-4:-1])
print(li[::-1])
print(li[-1::-1])

['gitam', 123, 124, 1323, 1232, 3451]
123
[124, 1323, 1232, 3451]
[124, 1323]
3451
[124, 1323, 1232]
[3451, 1232, 1323, 124, 123, 'gitam']
[3451, 1232, 1323, 124, 123, 'gitam']

In [5]:
#update
li[0]="ajay"
print(li)

['ajay', 123, 124, 1323, 1232, 3451]

In [6]:
#delete
del li[3]
print(li)

['ajay', 123, 124, 1232, 3451]

In [10]:
li=[1,2,3,4]
print(len(li))
print(li*2)
print(5 in li)
print(4 in li)

4
[1, 2, 3, 4, 1, 2, 3, 4]
False
True

# Basic list functions

In [16]:
li=[1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))
# average
print(sum(li)/len(li))

5
1
15
3.0

In [23]:
li=[1,2,3,4,5]
print(li)
 # add at end of the list
li.append(6)
print(li)
# add at any index of the list
li.insert(0,0)
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]

In [28]:
# sorting in asscending order
li=[1,4,2,6,43,3,8]
print(li)
li.sort()
print(li)
# to delete last index item in the list
li.pop()
print(li)
#to remove item from specific index
li.pop(2)
print(li)

[1, 4, 2, 6, 43, 3, 8]
[1, 2, 3, 4, 6, 8, 43]
[1, 2, 3, 4, 6, 8]
[1, 2, 4, 6, 8]

In [29]:
# function to return large num from list 
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,3,87,32,21,36]
print(largenumber(li))
print(genericlarge(li,3))

87
32

In [32]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[19,1,3,87,32,21,36]
print(smallnumber(li))
print(genericsmall(li,3))

1
19

# Tuples
- values seperated by comma and enclosed by parenthesis()
- values cannot be changed i.e immutable
## Difference between list and tuple
- list can be modified
- list used to access means modify,add,delete,update
- tuples cannot be modified
- used to access the data only

In [33]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# Dictionaries:
- it works on concept of set unique data
- it contains keys and values
- each key is seperated by its values by colon ":"
- each key and values seperated by comma ","
- dictionary enclosed by "{}"

In [41]:
d1={"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}

In [43]:
d1["name"]

'gitam'

In [45]:
d1["email"]="python@gmail.com"
d1

{'name': 'gitam', 'email': 'python@gmail.com', 'address': 'hyderabad'}

In [46]:
d1["course"]="python"
d1

{'name': 'gitam',
 'email': 'python@gmail.com',
 'address': 'hyderabad',
 'course': 'python'}

In [52]:
d1={"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
d1["course"]="python"
# delete
del d1["email"]
d1

{'name': 'gitam', 'address': 'hyderabad', 'course': 'python'}

In [53]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [54]:
d1.values()

dict_values(['gitam', 'hyderabad', 'python'])

In [59]:
print(d1.items())

dict_items([('name', 'gitam'), ('address', 'hyderabad'), ('course', 'python')])

# strings:

In [58]:
s1="python"
print(s1)
print(type(s1))

python
<class 'str'>

In [64]:
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[::-1])
print(s1[-1::-1])

p
n
thon
nohtyp
nohtyp

In [68]:
print(s1[len(s1)//2])
print(s1[0:6:2])
print(s1[0:6:1])
print(s1[0:6:3])

h
pto
python
ph

In [69]:
# using function
def reverseofstring(s1):
    return s1[::-1]
reverseofstring("programing")

'gnimargorp'

In [74]:
# palindrome
def palin(s1):   
    rev=s1[::-1]
    if s1 == rev:
        return "palindrome"
    else:
        return "not a palindrome"
print(palin("bob"))
print(palin("back"))

palindrome
not a palindrome

# String build-in methods 
- upper()
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [99]:
s1="python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.istitle())
print(s1.upper())
print(s1.istitle())
s2="Karan"
print(s2.istitle())
s3="2"
print(s3.isnumeric())
s4=" "
print(s4.isspace())

PYTHON
python
False
False
PYTHON
False
True
True
True

# String Methods 
- join 
- split()
- replace()

In [104]:
s1="python"
print(",".join(s1))

p,y,t,h,o,n

In [106]:
s1="python is easy to learn"
print("!".join(s1))
print(s1.split())

p!y!t!h!o!n! !i!s! !e!a!s!y! !t!o! !l!e!a!r!n
['python', 'is', 'easy', 'to', 'learn']

In [110]:
s1="python is easy to learn"
print(s1.split("a"))
li=list(s1)
print(li)

['python is e', 'sy to le', 'rn']
['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [111]:
s1="python is easy to learn"
print(s1.replace("easy","very easy"))

python is very easy to learn

In [132]:
marks={"peter":[80,85,90],"joe":[86,90,95]}
#output 1.[80,85,90]
#2.85
#3.86
#4.[95,90,86]
print(marks["peter"])
l1=marks["peter"]
l2=marks["joe"]
print(sum(l1)//len(l1))
print(l2[0])
print(l2[::-1])

[80, 85, 90]
85
86
[95, 90, 86]

In [138]:
marks={"peter" :{"match":1,"english":2}, "joe": [86,90,95]}
#output=2
print(marks.values())
print(peter["english"])

dict_values([{'match': 1, 'english': 2}, [86, 90, 95]])

NameError: name 'peter' is not defined